
extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        div.dive-log(ng-controller='DiveLogController')
            p Nothing here {{someValue}}
            p Nothing here {{'yet' + '!'}}

    // /WRAPPER
