//
   Created by roboto on 1/05/14.

extends layout

block header
    h1 Hello World!
    p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
    a.btn.btn-primary.btn-lg(role='button') Learn more

block content
    h1 Some Test